.cards {
  display: flex;
/*  flex-direction: row; */
  align-items: center;
  justify-content: space-around;
}

.card img {
  width: 70%;
}


.card h3 {
  color: black;
  margin: 0;
  font-size: 16px !important;
}

.card p {
  color: #D1D1D1;
  margin: 5px 0 0 0;
  font-size: 16px;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  text-align: center;
  /*font-size: 16px !important;*/
}
